.shape-divider-bottom {
  position: relative;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.shape-divider-bottom svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 200px;
  transform: rotate(180deg);
}

/* .hero-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../assets/images/gedung.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 0;
} */

.hero-image {
  max-height: 500px;
  object-fit: cover;
  width: 100%;
  border-radius: 0.5rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.inquiry-box {
  background-color: #405e91;
  padding: 10px 20px;
  border-radius: 4px;
  display: inline-flex;
  align-items: center;
  position: relative;
  z-index: 1;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border: 1px solid #e2e8f0;
}

.inquiry-icon {
  background-color: white;
  border-radius: 50%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  width: 35px;
  margin-right: 8px;
}

.inquiry-text {
  color: white;
  font-size: 14px;
  font-weight: 500;
}
